---
layout: layouts/home.njk
---
<p>My name is Ramkarthik Krishnamurthy (Karthik). I'm a software engineer.</p>
<p>I document things I learn when I build side projects. It is for my future self because, I don't know about you, I often forget things I don't do frequently. There won't be detailed steps or a lot of explanation. It will have just enough to get things going.</p>
<h2>Projects</h2>
<ul class="nav">
    <li><a href="https://plaintweet.com/">PlainTweet</a><span> - Twitter has too many distractions. plaintweet is a minimal and focused way of using Twitter.</span></li>
    <li><a href="https://whats-their-time.vercel.app/">What's their time</a><span> - Keep track of the different timezones your teammates are in. Never ask them what their time is again.</span></li>
    <li><a href="https://hackernewsdeck.vercel.app/">HackerNews Deck</a><span> - A cleaner and more efficient way to browse HackerNews.</span></li>
    <li><a href="https://github.com/Ramkarthik/minimal-developer/">Minimal Developer (blog theme)</a><span> - A very minimal developer blog theme using Eleventy. The theme used for this blog.</span></li>
    <li><a href="https://dotnetjobs.co/">dotnet jobs</a><span> - A job board for .NET developers.</span></li>
</ul>
<h2>Recent Posts</h2>
{% set maxPosts = collections.posts.length | min(3) %}
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>